body {
    background-color: #89D6D9;
    margin-top: 0;
}
.box1 {
    background-color: #FFFFFF;
    width: 960px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding: 20px 20px;
}
table, th, td {
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
    padding: 4px;
}
th {
    background-color: #ECE7D7;
}
td {
    background-color: #F5F4F2;
}
.box2 {
    background-color: #DDDDDD;
    padding: 10px 10px;
    margin-top: 20px;
    border-radius: 10px;
}
img {
    float: left;
    padding-right: 10px;
}